
<b><h1 align="center">Biografia do Lucas!</h1></b>
Nome: <B>Lucas Tavares Batista</B><br />
<img src='../assets/pp.jpg'><br />
Sexo: <B>Masculino</B><br />
E-mail: <B>lucaslira757@gmail.com</B><br />
Profissão: <B>Estudante</B><br />
<app-listainteresse></app-listainteresse>
Estado Civil: <B>Casado</B><br />
<b><h1 align="center">Biografia</h1></b>
<h3 align="center">Apaixonado pela vida sempre busco ser uma pessoa melhor a cada dia<br />natural de Porto Nacional busquei dar continuidade aos meus estudos <br />
na capital Palmas, filho de Ezilene Batista e Carlos Augusto, pais simples<br />mas que sempre me incentivaram a trilhar o caminho dos estudos.<br />
Apaixonado pelo mundo da Tecnologia da Informação(TI) desde novo<br /> busquei fazer o curso de Ciências da computação na universidade CEULP ULBRA<br />
onde hoje me encontro no 6º periodo.  </h3>
Cidade: <B>Porto Nacional</B><br />
Estado: <B>Tocantins</B>

<b><h1 align="center">Informações Acadêmicas</h1></b>
<app-listadisciplina></app-listadisciplina>
<b><h1 align="center">Informações Profissionais</h1></b>
Empresa: <B>SESI</B><br />
Cargo: <B>Estagiario em suporte e manutenção de TI</B>